#textdomain aplt_nlsd_basic-lib

[window]
	app="aplt_nlsd_basic"
	id="home"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						label="misc/bg_ffffff.png"
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[spacer]
													definition="default"
													width="(72)"
												[/spacer]
											[/column]
											[column]
												grow_factor=1
												[label]
													definition="default"
													id="title"
													text_font_size=1001
												[/label]
											[/column]
											[column]
												[rose__aplt]
													id="aplt"
												[/rose__aplt]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="all"
					border_size=5
					horizontal_alignment="left"
					[label]
						definition="default"
						id="title"
					[/label]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[stack]
						definition="default"
						id="body"
						mode="radio"
						[layer]
							id="driver_layer"
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										id="_base_grid"
										[row]
											[column]
												horizontal_alignment="left"
												[label]
													definition="default"
													label=_"module^base"
												[/label]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[image]
													definition="default"
													label="misc/split_line.png"
												[/image]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[grid]
													[row]
														[column]
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Product"
															[/label]
														[/column]
														[column]
															border="bottom"
															border_size=4
															grow_factor=1
															horizontal_alignment="left"
															[label]
																definition="default"
																id="base_product"
															[/label]
														[/column]
													[/row]
													[row]
														[column]
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Serial"
															[/label]
														[/column]
														[column]
															border="left, bottom"
															border_size=4
															horizontal_alignment="edge"
															[button]
																definition="dropdown"
																height="(40)"
																id="base_serial"
															[/button]
														[/column]
													[/row]
													[row]
														[column]
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Baudrate"
															[/label]
														[/column]
														[column]
															border="left, bottom"
															border_size=4
															horizontal_alignment="edge"
															[button]
																definition="dropdown"
																height="(40)"
																id="base_baudrate"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
										[row]
											[column]
												border="top"
												border_size=4
												horizontal_alignment="left"
												[label]
													definition="default"
													id="remark"
													mtwusc=true
													state=1
												[/label]
											[/column]
										[/row]
										[row]
											[column]
												border="top"
												border_size=12
												horizontal_alignment="edge"
												[grid]
													[row]
														[column]
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Longpress threshold"
															[/label]
														[/column]
														[column]
															border="left, bottom"
															border_size=4
															grow_factor=1
															horizontal_alignment="edge"
															[button]
																definition="dropdown"
																height="(40)"
																id="longpress_threshold"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
										[row]
											[column]
												border="top"
												border_size=12
												horizontal_alignment="edge"
												[grid]
													id="button_threshold_grid"
													[row]
														[column]
															border="right"
															border_size=8
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Button press threshold"
															[/label]
														[/column]
														[column]
															border="right"
															border_size=4
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Power"
															[/label]
														[/column]
														[column]
															border="right"
															border_size=8
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																id="power_threshold"
															[/text_box]
														[/column]
														[column]
															border="right"
															border_size=4
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Non power"
															[/label]
														[/column]
														[column]
															border="right"
															border_size=8
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																id="non_power_threshold"
															[/text_box]
														[/column]
														[column]
															border="bottom"
															border_size=4
															horizontal_alignment="edge"
															[button]
																definition="text"
																height="(40)"
																id="button_threshold"
																label=_"Set threshold"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[label]
										definition="default"
										id="status"
										mtwusc=true
										state=1
										text_font_size=998
									[/label]
								[/column]
							[/row]
						[/layer]
						[layer]
							id="more_layer"
							[row]
								[column]
									horizontal_alignment="left"
									vertical_alignment="bottom"
									[label]
										definition="default"
										id="copyright"
										mtwusc=true
										state=1
									[/label]
								[/column]
							[/row]
						[/layer]
					[/stack]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[image]
						definition="default"
						label="misc/split_line.png"
					[/image]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					[report]
						definition="default"
						fixed_cols=2
						horizontal_scrollbar_mode="never"
						id="navigation"
						multi_line=true
						toggle=true
						unit_definition="vertical_node"
						unit_height="(0)"
						unit_width="(0)"
					[/report]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(corner_height)"
					[/spacer]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
