# must define bundle_id, version.

bundle_id = "aplt.leagor.khomelua"
version = "0.0.1-20260727"
lua_task_api= true

[task]
	id = "workout"
	type = "camera"
	no_swap_wh_for_screen = true

	[var]
		name = "file"
		input = true
		type = "string"
	[/var]
[/task]