# must define bundle_id, version.

bundle_id = "aplt.nlsd.basic"
version = "0.0.1-20250801"

base_driver = true

[task]
	id = "turn_off"
	type = "block"

	[var]
		name = "delay"
		input = true
		type = "bool"
	[/var]
[/task]