[preset_pose]
	metric="body_tilt_angle"
	side="other"
	tolerance=10.0
	
	landmarks="11,12; 23,24"
	# max=280
	# min=260
	name="身体歪斜角度"
	operand="point"
	# phase_mask=3
	type="angle2p"
	unsatisfied_msgstr="身体向左歪了，回正些"
	unsatisfied_rmax_msgstr="身体向右歪了，回正些"
[/preset_pose]

[preset_pose]
	metric="header_tilt_angle"
	side="other"
	tolerance=10.0
	
	landmarks="11,12; 0"
	# max=100
	# min=80
	name="歪头角度"
	operand="point"
	# phase_mask=3
	type="angle2p"
	unsatisfied_msgstr="头向左歪了，回正些"
	unsatisfied_rmax_msgstr="头向右歪了，回正些"
[/preset_pose]

[preset_pose]
	metric="left_upper_arm_angle"
	side="left"
	tolerance=20.0
	
	landmarks="11; 13"
	# max=210
	# min=150
	name="左上臂角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="左侧上臂内夹了，外侧些"
	unsatisfied_rmax_msgstr="左侧上臂外侧了，朝内些"
[/preset_pose]

[preset_pose]
	metric="right_upper_arm_angle"
	side="right"
	tolerance=20.0
	
	landmarks="12; 14"
	# max=30
	# min=-30
	name="右上臂角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="右侧上臂外侧了，朝内些"
	unsatisfied_rmax_msgstr="右侧上臂内夹了，外侧些"
[/preset_pose]

[preset_pose]
	metric="left_elbow_angle"
	side="left"
	tolerance=20.0
	
	landmarks="11; 13; 15"
	# min=165
	name="左手肘角度"
	operand="point"
	type="angle3p"
	unsatisfied_msgstr="左手肘太弯曲，张开些"
	unsatisfied_rmax_msgstr="左手肘张太大，弯曲些"
[/preset_pose]

[preset_pose]
	metric="right_elbow_angle"
	side="right"
	tolerance=20.0
	
	landmarks="12; 14; 16"
	# max=60
	# min=20
	name="右手肘角度"
	operand="point"
	type="angle3p"
	unsatisfied_msgstr="右手肘太弯曲，张开些"
	unsatisfied_rmax_msgstr="右手肘太弯曲，张开些"
[/preset_pose]
			
[preset_pose]
	metric="left_forearm_angle"
	side="left"
	tolerance=20.0
	
	landmarks="13; 15"
	# max=210
	# min=150
	name="左前臂角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="左侧前臂太朝下，向上些"
	unsatisfied_rmax_msgstr="左侧前臂太朝上，向下些"
[/preset_pose]

[preset_pose]
	metric="right_forearm_angle"
	side="right"
	tolerance=20.0
	
	landmarks="14; 16"
	# max=30
	# min=-30
	name="右前臂角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="右侧前臂太朝上，向下些"
	unsatisfied_rmax_msgstr="右侧前臂太朝下，向上些"
[/preset_pose]

[preset_pose]
	metric="left_wrist_on_right_shoulder"
	side="other"
	
	landmarks="16; 11"
	max=0.06
	name="右手腕放在左肩"
	operand="point"
	type="diff"
	unsatisfied_msgstr="右手腕放在左肩"
[/preset_pose]

[preset_pose]
	metric="right_wrist_on_left_shoulder"
	side="other"
	
	landmarks="15; 12"
	max=0.06
	name="左手腕放在右肩"
	operand="point"
	# phase_mask=2
	type="diff"
	unsatisfied_msgstr="左手腕放在右肩"
[/preset_pose]

[preset_pose]
	metric="left_thigh_angle"
	side="left"
	tolerance=20.0

	landmarks="23; 25"
	# min=160
	name="左侧大腿角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="左脚向外挪点"
	unsatisfied_rmax_msgstr="左脚向内收些"
[/preset_pose]

[preset_pose]
	metric="right_thigh_angle"
	side="right"
	tolerance=20.0
	
	landmarks="24; 26"
	# min=160
	name="右侧大腿角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="右脚向内收些"
	unsatisfied_rmax_msgstr="右脚向外挪点"
[/preset_pose]

[preset_pose]
	metric="left_knee_angle"
	side="left"
	tolerance=20.0
	
	landmarks="23; 25; 27"
	# min=160
	name="左膝弯曲角"
	operand="point"
	type="angle3p"
	unsatisfied_msgstr="左脚，站直点"
[/preset_pose]

[preset_pose]
	metric="right_knee_angle"
	side="right"
	tolerance=20.0
	
	landmarks="24; 26; 28"
	# min=160
	name="右膝弯曲角"
	operand="point"
	type="angle3p"
	unsatisfied_msgstr="右脚，站直点"
[/preset_pose]

[preset_pose]
	metric="left_leg_angle"
	side="left"
	tolerance=20.0
	
	landmarks="23; 27"
	# max=310
	# min=282
	name="左腿整体侧开角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="左脚向外撇些"
	unsatisfied_rmax_msgstr="左脚向内收些"
[/preset_pose]

[preset_pose]
	metric="right_leg_angle"
	side="right"
	tolerance=20.0
	
	landmarks="24; 28"
	# max=310
	# min=282
	name="右腿整体侧开角度"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="右脚向内收些"
	unsatisfied_rmax_msgstr="右脚向外撇些"
[/preset_pose]


[preset_pose]
	metric="right_hip_angle"
	side="right"
	tolerance=20.0
	
	landmarks="12; 24; 26"
	# min=165
	name="身体平直度（肩→髋→膝）"
	operand="point"
	type="angle3p"
	unsatisfied_msgstr="身体未完全伸直，请将身体撑成一条直线"
[/preset_pose]

[preset_pose]
	metric="right_torso_angle"
	side="right"
	tolerance=20.0
	
	landmarks="12; 24"
	max=205
	min=165
	name="躯干右侧角（肩→髋）"
	operand="point"
	type="angle2p"
	unsatisfied_msgstr="有撅臀，请向下压腰"
	unsatisfied_rmax_msgstr="有塌腰，请向上顶腰"
[/preset_pose]