#textdomain studio-lib

[window]
	app="studio"
	id="pinyin2"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=no
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[button]
													definition="icon36"
													id="ok"
													label="misc/back.png"
												[/button]
											[/column]
											[column]
												horizontal_alignment="left"
												[label]
													definition="default"
													id="title"
												[/label]
											[/column]
											[column]
												grow_factor=1
												horizontal_alignment="left"
												[label]
													definition="default"
													id="version"
													state=1
													text_font_size=999
												[/label]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									border="bottom"
									border_size=4
									horizontal_alignment="left"
									[label]
										definition="default"
										id="remark"
										mtwusc=yes
										state=1
									[/label]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										id="_pinyinrsp_grid"
										[row]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												horizontal_alignment="edge"
												[text_box]
													definition="default"
													id="pinyinrsp_path"
												[/text_box]
											[/column]
											[column]
												[button]
													definition="default"
													id="generate_pinyinrsp"
													label=_"Genrate pinyin.rsp"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[label]
										definition="default"
										id="generate_rsp_result"
										mtwusc=yes
									[/label]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[listbox]
										definition="default"
										height="(0)"
										horizontal_scrollbar_mode="never"
										id="errors"
										width="(0)"
										[list_definition]
											[row]
												[column]
													[toggle_panel]
														definition="default"
														[grid]
															[row]
																[column]
																	border="bottom"
																	border_size=4
																	horizontal_alignment="left"
																	[label]
																		definition="default"
																		id="label"
																		state=1
																	[/label]
																[/column]
															[/row]
														[/grid]
													[/toggle_panel]
												[/column]
											[/row]
										[/list_definition]
									[/listbox]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[grid]
										id="_play_test_grid"
										[row]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												horizontal_alignment="edge"
												[text_box]
													definition="default"
													id="test_file"
												[/text_box]
											[/column]
											[column]
												[button]
													definition="default"
													id="play"
													label=_"Play"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									border="bottom"
									border_size=8
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[grid]
										id="_frequence_code_grid"
										[row]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												horizontal_alignment="edge"
												[text_box]
													definition="default"
													id="frequence_txt"
												[/text_box]
											[/column]
											[column]
												[button]
													definition="default"
													id="frequence_txt2code"
													label=_"Text to code"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										id="_4sort_code_grid"
										[row]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												horizontal_alignment="edge"
												[text_box]
													definition="default"
													id="pinyin_4sort_txt"
												[/text_box]
											[/column]
											[column]
												[button]
													definition="default"
													id="pinyin_4sort_txt2code"
													label=_"Text to code"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
