#textdomain kdesktop-lib

[window]
	app="kdesktop"
	id="klink"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		{GUI__TPL_LINKED_GROUP_ROSE__KLINK_ENV_VAR}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						label="misc/bg_ffffff.png"
						left_margin=0
						right_margin=0
						top_margin=0
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=4
						definition="default"
						[grid]
							[row]
								[column]
									[button]
										definition="icon36"
										id="ok"
										label="misc/back.png"
									[/button]
								[/column]
								[column]
									grow_factor=1
									[button]
										definition="text"
										id="title"
									[/button]
								[/column]
								[column]
									border="right"
									border_size=8
									[button]
										definition="icon36"
										id="import"
										label="misc/import.png"
									[/button]
								[/column]
								[column]
									[button]
										definition="icon36"
										id="export"
										label="misc/export.png"
									[/button]
								[/column]
								[column]
									[button]
										definition="icon36"
										id="insert_scene"
										label="misc/insert.png"
									[/button]
								[/column]
								[column]
									[button]
										definition="icon36"
										id="refresh"
										label="misc/refresh.png"
									[/button]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="main_grid"
						[row]
							[column]
								horizontal_alignment="edge"
								[report]
									definition="default"
									gap=8
									horizontal_scrollbar_mode="never"
									id="main_report"
									toggle=true
									unit_definition="text"
									unit_height="(0)"
									unit_width="(0)"
								[/report]
							[/column]
						[/row]
						[row]
							grow_factor=1
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[stack]
									definition="default"
									id="main_stack"
									mode="radio"
									[layer]
										id="scene_layer"
										[row]
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[rose__klink_base_scene]
													id="base_scene_panel"
												[/rose__klink_base_scene]
											[/column]
										[/row]
									[/layer]
									[layer]
										id="env_var_layer"
										[row]
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[rose__klink_env_var]
													id="env_var_panel"
												[/rose__klink_env_var]
											[/column]
										[/row]
									[/layer]
								[/stack]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
