#textdomain kdesktop-lib

[window]
	app="kdesktop"
	id="rdcamera"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						left_margin=0
						right_margin=0
						top_margin=0
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						id="title_grid"
						[row]
							[column]
								horizontal_alignment="left"
								[button]
									definition="icon36"
									id="cancel"
									label="misc/back.png"
								[/button]
							[/column]
							[column]
								horizontal_alignment="left"
								[label]
									definition="default"
									id="pitch"
								[/label]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								border="right"
								border_size=4
								horizontal_alignment="edge"
								[button]
									definition="dropdown"
									id="moveit_aplt"
									min_text_width="(136)"
									text_font_size=999
								[/button]
							[/column]
							[column]
								[button]
									definition="text"
									id="wko_settings"
									label=_"Workout settings"
								[/button]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right, bottom"
					border_size=8
					horizontal_alignment="left"
					[label]
						definition="default"
						id="warning"
						mtwusc=true
						text_font_size=998
					[/label]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						left_margin=0
						right_margin=0
						top_margin=0
						[grid]
							[row]
								[column]
									grow_factor=1
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[track]
										definition="default"
										id="paper"
									[/track]
								[/column]
								[column]
									border="left"
									border_size=4
									vertical_alignment="edge"
									[grid]
										id="ctrl_grid"
										[row]
											[column]
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="dctask"
													label=_"View"
												[/button]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="snapshot_depth"
													label="Snapshot depth"
												[/button]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="snapshot"
													label=_"camera^Snapshot"
												[/button]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="reach_dcpitch"
													label="Reach dcpitch"
												[/button]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="dbg"
													label=_"Dbg"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="top"
					border_size=8
					horizontal_alignment="edge"
					[grid]
						id="status_grid"
						[row]
							[column]
								border="left, right"
								border_size=8
								grow_factor=1
								horizontal_alignment="left"
								[label]
									definition="default"
									id="camera_k"
									mtwusc=true
									state=1
									text_font_size=998
								[/label]
							[/column]
							[column]
								[label]
									definition="default"
									height="(18)"
									id="rpy"
									state=1
									text_font_size=998
									width="(192)"
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
