#textdomain kdesktop-lib

[window]
	app="kdesktop"
	id="wko_settings"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						label="misc/bg_ffffff.png"
						left_margin=0
						right_margin=0
						top_margin=0
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						id="title_grid"
						[row]
							[column]
								[button]
									definition="icon36"
									id="ok"
									label="misc/back.png"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[label]
									definition="default"
									id="title"
									label=_"Workout settings"
								[/label]
							[/column]
							[column]
								[spacer]
									definition="default"
									width="(36)"
								[/spacer]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					[report]
						definition="default"
						gap=8
						horizontal_scrollbar_mode="never"
						id="main_report"
						toggle=true
						unit_definition="text"
						unit_height="(0)"
						unit_width="(0)"
					[/report]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[stack]
						definition="default"
						id="main_stack"
						mode="radio"
						[layer]
							id="vlog_layer"
							[row]
								[column]
									border="top"
									border_size=4
									horizontal_alignment="left"
									[label]
										definition="default"
										id="remark"
										mtwusc=true
										text_font_size=998
									[/label]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[panel]
										definition="default"
										id="main_panel"
										left_margin=0
										right_margin=0
										[grid]
											[row]
												[column]
													horizontal_alignment="edge"
													[grid]
														id="global_grid"
														[row]
															[column]
																border="right"
																border_size=16
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="landmarks"
																	label=_"Landmarks"
																[/toggle_button]
															[/column]
															[column]
																grow_factor=1
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="face_cover"
																	label=_"Face cover"
																[/toggle_button]
															[/column]
															[column]
																horizontal_alignment="right"
																[toggle_button]
																	definition="default"
																	id="video_on_center"
																	label=_"Video on center"
																[/toggle_button]
															[/column]
														[/row]
													[/grid]
												[/column]
											[/row]
											[row]
												[column]
													horizontal_alignment="edge"
													[grid]
														id="start_grid"
														[row]
															[column]
																[label]
																	definition="default"
																	label=_"page^start"
																	state=1
																[/label]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[image]
																	definition="default"
																	label="misc/split_line.png"
																[/image]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="start_date"
																	label=_"Date"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[grid]
																	id="start_caption_grid"
																	[row]
																		[column]
																			border="right"
																			border_size=16
																			horizontal_alignment="left"
																			[toggle_button]
																				definition="default"
																				id="start_caption"
																				label=_"Start caption"
																			[/toggle_button]
																		[/column]
																		[column]
																			grow_factor=1
																			horizontal_alignment="left"
																			[button]
																				definition="node"
																				id="start_caption_msg"
																			[/button]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="start_workout_name"
																	label=_"Workout name"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="start_history"
																	label=_"History data"
																[/toggle_button]
															[/column]
														[/row]
													[/grid]
												[/column]
											[/row]
											[row]
												[column]
													horizontal_alignment="edge"
													[grid]
														id="active_grid"
														[row]
															[column]
																[label]
																	definition="default"
																	label=_"page^active"
																	state=1
																[/label]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[image]
																	definition="default"
																	label="misc/split_line.png"
																[/image]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="active_state_name"
																	label=_"Action name"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="active_progress"
																	label=_"Progress"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="active_timer"
																	label=_"Timer"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[grid]
																	id="active_poses_grid"
																	[row]
																		[column]
																			border="right"
																			border_size=16
																			horizontal_alignment="left"
																			[toggle_button]
																				definition="default"
																				id="active_poses"
																				label=_"Poses"
																			[/toggle_button]
																		[/column]
																		[column]
																			grow_factor=1
																			horizontal_alignment="left"
																			[toggle_button]
																				definition="default"
																				id="poses_on_top"
																				label=_"On top"
																			[/toggle_button]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
													[/grid]
												[/column]
											[/row]
											[row]
												[column]
													horizontal_alignment="edge"
													[grid]
														id="finish_grid"
														[row]
															[column]
																[label]
																	definition="default"
																	label=_"page^finish"
																	state=1
																[/label]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[image]
																	definition="default"
																	label="misc/split_line.png"
																[/image]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="finish_date"
																	label=_"Date"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[grid]
																	id="finish_caption_grid"
																	[row]
																		[column]
																			border="right"
																			border_size=16
																			horizontal_alignment="left"
																			[toggle_button]
																				definition="default"
																				id="finish_caption"
																				label=_"Finish caption"
																			[/toggle_button]
																		[/column]
																		[column]
																			grow_factor=1
																			horizontal_alignment="left"
																			[button]
																				definition="node"
																				id="finish_caption_msg"
																			[/button]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="finish_workout_summary"
																	label=_"Workout summary"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="finish_history"
																	label=_"History data"
																[/toggle_button]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[toggle_button]
																	definition="default"
																	id="finish_chart"
																	label=_"Workout chart"
																[/toggle_button]
															[/column]
														[/row]
													[/grid]
												[/column]
											[/row]
										[/grid]
									[/panel]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
						[/layer]
						[layer]
							id="misc_layer"
							[row]
								[column]
									border="top"
									border_size=4
									horizontal_alignment="left"
									[toggle_button]
										definition="default"
										id="rep_sfx"
										label=_"Repetition SFX"
									[/toggle_button]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												border="right"
												border_size=8
												[image]
													definition="default"
													height="(24)"
													label="misc/volume.png"
													width="(24)"
												[/image]
											[/column]
											[column]
												grow_factor=1
												horizontal_alignment="edge"
												[slider]
													definition="default"
													id="sound_slider"
													maximum_value=100
													step_size=1
												[/slider]
											[/column]
											[column]
												border="left"
												border_size=4
												[label]
													definition="default"
													id="volume"
												[/label]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
						[/layer]
					[/stack]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
