#textdomain launcher-lib

[window]
	app="launcher"
	id="ai2"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[linked_group]
			fixed_width=true
			id="_chat_channel2_name"
		[/linked_group]
		[linked_group]
			fixed_width=true
			id="_chat_contact_name"
		[/linked_group]
		[float_widget]
			ref="_chat_history"
			x="(ref_width - width);0"
			y="(0);4"
			[button]
				definition="icon36"
				id="_chat_previous"
				label="misc/up.png"
			[/button]
		[/float_widget]
		[float_widget]
			ref="_chat_history"
			x="(ref_width - width);0"
			y="((ref_height - height) / 2);0"
			[label]
				definition="default"
				id="_chat_pagenum"
			[/label]
		[/float_widget]
		[float_widget]
			ref="_chat_history"
			x="(ref_width - width);0"
			y="(ref_height - height);-4"
			[button]
				definition="icon36"
				id="_chat_next"
				label="misc/down.png"
			[/button]
		[/float_widget]
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[stack]
						definition="default"
						id="body_stack"
						mode="radio"
						[layer]
							id="home_layer"
							[row]
								[column]
									horizontal_alignment="edge"
									[panel]
										definition="default"
										top_margin=0
										[grid]
											[row]
												[column]
													[button]
														definition="icon36"
														height="(40)"
														id="back"
														label="misc/back.png"
														width="(40)"
													[/button]
												[/column]
												[column]
													grow_factor=1
													[label]
														definition="default"
														id="title"
														text_font_size=1001
													[/label]
												[/column]
												[column]
													[grid]
														[row]
															[column]
																horizontal_alignment="left"
																[grid]
																	[row]
																		[column]
																			[label]
																				definition="default"
																				id="task_type"
																				text_font_size=999
																			[/label]
																		[/column]
																		[column]
																			vertical_alignment="bottom"
																			[label]
																				definition="default"
																				id="tokens"
																				state=1
																				text_font_size=998
																			[/label]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="left"
																[label]
																	definition="default"
																	id="task"
																	state=1
																	text_font_size=998
																[/label]
															[/column]
														[/row]
													[/grid]
												[/column]
												[column]
													[button]
														definition="icon36"
														id="new_conversation"
														label="misc/new.png"
													[/button]
												[/column]
												[column]
													[button]
														definition="icon36"
														id="camera"
														label="misc/camera.png"
													[/button]
												[/column]
											[/row]
										[/grid]
									[/panel]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[image]
										definition="default"
										label="misc/split_line.png"
									[/image]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[grid]
										[row]
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[panel]
													definition="default"
													id="_chat_robot_panel"
													top_margin=0
													[grid]
														[row]
															[column]
																horizontal_alignment="edge"
																vertical_alignment="edge"
																[report]
																	definition="default"
																	fixed_cols=4
																	horizontal_scrollbar_mode="never"
																	id="task_report"
																	multi_line=true
																	unit_definition="vertical_node"
																	unit_height="(0)"
																	unit_width="(62)"
																[/report]
															[/column]
														[/row]
														[row]
															[column]
																horizontal_alignment="edge"
																[rose__text_box2]
																	id="find_user"
																[/rose__text_box2]
															[/column]
														[/row]
														[row]
															grow_factor=1
															[column]
																horizontal_alignment="edge"
																vertical_alignment="edge"
																[stack]
																	definition="default"
																	height="(0)"
																	id="item_list_stack"
																	mode="radio"
																	width="(0)"
																	[layer]
																		[row]
																			[column]
																				horizontal_alignment="edge"
																				vertical_alignment="edge"
																				[listbox]
																					definition="default"
																					height="(0)"
																					horizontal_scrollbar_mode="never"
																					id="positions"
																					width="(0)"
																					[list_definition]
																						[row]
																							[column]
																								[toggle_panel]
																									definition="default"
																									[grid]
																										[row]
																											[column]
																												border="bottom"
																												border_size=4
																												horizontal_alignment="edge"
																												[image]
																													definition="default"
																													label="misc/split_line.png"
																												[/image]
																											[/column]
																										[/row]
																										[row]
																											[column]
																												horizontal_alignment="left"
																												[label]
																													definition="default"
																													id="major_label"
																													mtwusc=true
																													state=1
																												[/label]
																											[/column]
																										[/row]
																										[row]
																											[column]
																												horizontal_alignment="left"
																												[label]
																													definition="default"
																													id="minor_label"
																													mtwusc=true
																													state=1
																													text_font_size=998
																												[/label]
																											[/column]
																										[/row]
																									[/grid]
																								[/toggle_panel]
																							[/column]
																						[/row]
																					[/list_definition]
																				[/listbox]
																			[/column]
																		[/row]
																	[/layer]
																	[layer]
																		[row]
																			[column]
																				horizontal_alignment="edge"
																				vertical_alignment="edge"
																				[listbox]
																					definition="default"
																					height="(0)"
																					horizontal_scrollbar_mode="never"
																					id="timing_tasks"
																					width="(0)"
																					[list_definition]
																						[row]
																							[column]
																								[toggle_panel]
																									definition="default"
																									[grid]
																										[row]
																											[column]
																												border="bottom"
																												border_size=4
																												horizontal_alignment="edge"
																												[image]
																													definition="default"
																													label="misc/split_line.png"
																												[/image]
																											[/column]
																										[/row]
																										[row]
																											[column]
																												horizontal_alignment="left"
																												[label]
																													definition="default"
																													id="major_label"
																													mtwusc=true
																													state=1
																												[/label]
																											[/column]
																										[/row]
																										[row]
																											[column]
																												horizontal_alignment="left"
																												[label]
																													definition="default"
																													id="minor_label"
																													mtwusc=true
																													state=1
																													text_font_size=998
																												[/label]
																											[/column]
																										[/row]
																									[/grid]
																								[/toggle_panel]
																							[/column]
																						[/row]
																					[/list_definition]
																				[/listbox]
																			[/column]
																		[/row]
																	[/layer]
																[/stack]
															[/column]
														[/row]
													[/grid]
												[/panel]
											[/column]
											[column]
												border="left, right"
												border_size=4
												vertical_alignment="edge"
												[image]
													definition="default"
													label="misc/split_v_line.png"
												[/image]
											[/column]
											[column]
												grow_factor=1
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[grid]
													id="_grid_msg"
													[row]
														grow_factor=1
														[column]
															horizontal_alignment="edge"
															vertical_alignment="edge"
															[listbox]
																definition="default"
																height="(0)"
																id="history"
																width="(0)"
																[list_definition]
																	[row]
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[toggle_panel]
																				definition="default"
																				id="_chat_history_cell"
																				[grid]
																					[row]
																						[column]
																							[grid]
																								[row]
																									[column]
																										[label]
																											definition="default"
																											id="time"
																											state=1
																											text_font_size=998
																										[/label]
																									[/column]
																								[/row]
																							[/grid]
																						[/column]
																					[/row]
																					[row]
																						[column]
																							border="bottom"
																							border_size=8
																							horizontal_alignment="edge"
																							vertical_alignment="edge"
																							[grid]
																								id="_msg_grid"
																								[row]
																									[column]
																										vertical_alignment="top"
																										[image]
																											definition="default"
																											height="(36)"
																											id="lportrait"
																											width="(36)"
																										[/image]
																									[/column]
																									[column]
																										grow_factor=1
																										horizontal_alignment="left"
																										[label]
																											definition="chat"
																											id="msg"
																											text_font_size=999
																											width="((screen_width * 60) / 100)"
																											width_is_max=true
																										[/label]
																									[/column]
																									[column]
																										vertical_alignment="top"
																										[image]
																											definition="default"
																											height="(36)"
																											id="rportrait"
																											width="(36)"
																										[/image]
																									[/column]
																								[/row]
																							[/grid]
																						[/column]
																					[/row]
																				[/grid]
																			[/toggle_panel]
																		[/column]
																	[/row]
																[/list_definition]
															[/listbox]
														[/column]
													[/row]
													[row]
														[column]
															border="top, bottom"
															border_size=4
															horizontal_alignment="edge"
															[image]
																definition="default"
																label="misc/split_line.png"
															[/image]
														[/column]
													[/row]
													[row]
														[column]
															horizontal_alignment="edge"
															vertical_alignment="edge"
															[grid]
																id="_chat_input_grid"
																[row]
																	[column]
																		[spacer]
																			definition="default"
																			id="input_scale"
																		[/spacer]
																	[/column]
																	[column]
																		border="left"
																		border_size=5
																		grow_factor=1
																		horizontal_alignment="edge"
																		vertical_alignment="edge"
																		[scroll_text_box]
																			definition="default"
																			horizontal_scrollbar_mode="never"
																			id="input"
																		[/scroll_text_box]
																	[/column]
																[/row]
															[/grid]
														[/column]
													[/row]
													[row]
														[column]
															horizontal_alignment="edge"
															[grid]
																id="input_toolar"
																[row]
																	[column]
																		grow_factor=1
																		horizontal_alignment="edge"
																		vertical_alignment="edge"
																		[stack]
																			definition="default"
																			id="task_toolbar_stack"
																			mode="radio"
																			[layer]
																				id="empty_layer"
																				[row]
																					[column]
																						[label]
																							definition="default"
																						[/label]
																					[/column]
																				[/row]
																			[/layer]
																			[layer]
																				id="chat_layer"
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[toggle_button]
																							definition="default"
																							id="new_conversation_always"
																							label=_"Each time is a new conversation"
																						[/toggle_button]
																					[/column]
																				[/row]
																			[/layer]
																			[layer]
																				id="followup_layer"
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[button]
																							definition="text"
																							id="reference"
																							label=_"Reference"
																						[/button]
																					[/column]
																				[/row]
																			[/layer]
																			[layer]
																				id="courseware_main_cfg_layer"
																				[row]
																					[column]
																						border="right"
																						border_size=8
																						horizontal_alignment="left"
																						[button]
																							definition="text"
																							id="reference"
																							label=_"Reference"
																						[/button]
																					[/column]
																					[column]
																						horizontal_alignment="left"
																						[button]
																							definition="icon36"
																							id="listen"
																							label="misc/listen.png"
																						[/button]
																					[/column]
																					[column]
																						grow_factor=1
																						[spacer]
																							definition="default"
																						[/spacer]
																					[/column]
																				[/row]
																			[/layer]
																		[/stack]
																	[/column]
																	[column]
																		[button]
																			definition="icon36"
																			id="send"
																			label="misc/send.png"
																		[/button]
																	[/column]
																[/row]
															[/grid]
														[/column]
													[/row]
													[row]
														[column]
															[spacer]
																definition="default"
																id="keyboard_spacer"
															[/spacer]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[spacer]
													definition="default"
													height="(18)"
												[/spacer]
											[/column]
											[column]
												grow_factor=1
												horizontal_alignment="left"
												[label]
													definition="default"
													id="status"
													mtwusc=true
													state=1
													text_font_size=998
												[/label]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/layer]
						[layer]
							id="vrenderer_layer"
							[row]
								grow_factor=1
								[column]
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[track]
										definition="default"
										id="vrenderer"
									[/track]
								[/column]
							[/row]
						[/layer]
					[/stack]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
