#textdomain launcher-lib

[window]
	app="launcher"
	id="edit_position"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		definition="default"
		[grid]
			[row]
				[column]
					border="all"
					border_size=5
					grow_factor=1
					horizontal_alignment="left"
					[label]
						definition="default"
						id="title"
						mtwusc=yes
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(8)"
						width="((if(screen_width < 640, screen_width * 90 / 100, 576)))"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						id="name_grid"
						[row]
							[column]
								border="right"
								border_size=4
								horizontal_alignment="left"
								[label]
									definition="default"
									label=_"object^Name"
									state=1
								[/label]
							[/column]
							[column]
								border="bottom"
								border_size=8
								grow_factor=1
								horizontal_alignment="edge"
								[rose__text_box2]
									id="txt"
								[/rose__text_box2]
							[/column]
						[/row]
						[row]
							[column]
								border="right"
								border_size=4
								horizontal_alignment="left"
								[label]
									definition="default"
									label=_"Angle"
									state=1
								[/label]
							[/column]
							[column]
								horizontal_alignment="edge"
								[grid]
									[row]
										[column]
											horizontal_alignment="left"
											[toggle_button]
												definition="default"
												id="restrict_angle"
												label=_"Restrict angle"
											[/toggle_button]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[text_box]
												definition="default"
												id="angle"
											[/text_box]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(20)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="right"
					[grid]
						[row]
							[column]
								border="all"
								border_size=5
								horizontal_alignment="left"
								[button]
									definition="text"
									id="ok"
									label=_"OK"
								[/button]
							[/column]
							[column]
								[spacer]
									definition="default"
									width="(20)"
								[/spacer]
							[/column]
							[column]
								border="all"
								border_size=5
								horizontal_alignment="right"
								[button]
									definition="text"
									id="cancel"
									label=_"Cancel"
								[/button]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
