#textdomain launcher-lib

[window]
	app="launcher"
	id="home"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="all"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[report]
						definition="default"
						gap=2
						horizontal_scrollbar_mode="never"
						id="applets"
						multi_line=true
						unit_definition="vertical_node"
						unit_height="(56)"
						unit_width="(60)"
					[/report]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					[grid]
						id="settings_grid"
						[row]
							[column]
								[toggle_button]
									definition="default"
									id="bleperipheral"
								[/toggle_button]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="left"
								[label]
									definition="default"
									label=_"Turn on Bluetooth Discovery. To make kDesktop discover Launcher, you need to turn on the service."
									mtwusc=true
									state=1
									text_font_size=998
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						id="navigation"
						left_margin=4
						right_margin=4
						[grid]
							[row]
								[column]
									horizontal_alignment="left"
									[grid]
										[row]
											[column]
												border="right"
												border_size=4
												[label]
													definition="default"
													id="sn_label"
													state=1
													text_font_size=998
												[/label]
											[/column]
											[column]
												border="right"
												border_size=8
												[button]
													definition="text"
													id="update_sn"
												[/button]
											[/column]
											[column]
												border="right"
												border_size=8
												[button]
													definition="text"
													id="update_blepassword"
													label=_"Update BLE password"
												[/button]
											[/column]
											[column]
												border="right"
												border_size=8
												[button]
													definition="text"
													id="upgrade_app"
													label=_"Upgrade app"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[grid]
										id="pinyin_grid"
										[row]
											[column]
												border="right"
												border_size=4
												[label]
													definition="default"
													id="pinyin_label"
													state=1
													text_font_size=998
												[/label]
											[/column]
											[column]
												border="right"
												border_size=8
												[button]
													definition="text"
													id="upgrade_pinyin"
												[/button]
											[/column]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												[button]
													definition="text"
													id="stop_speak"
													label=_"Stop speak"
												[/button]
											[/column]
											[column]
												[grid]
													id="disable_keyboard_grid"
													[row]
														[column]
															[toggle_button]
																definition="default"
																id="disable_keyboard"
															[/toggle_button]
														[/column]
														[column]
															border="right"
															border_size=8
															horizontal_alignment="left"
															[label]
																definition="default"
																label=_"Do not popup the soft keyboard"
																state=1
																text_font_size=998
															[/label]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[grid]
										id="latex_grid"
										[row]
											[column]
												border="right"
												border_size=4
												[label]
													definition="default"
													id="latex_label"
													state=1
													text_font_size=998
												[/label]
											[/column]
											[column]
												border="right"
												border_size=8
												[button]
													definition="text"
													id="upgrade_latex"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[grid]
										id="battery_grid"
										[row]
											[column]
												border="right"
												border_size=4
												horizontal_alignment="left"
												[label]
													definition="default"
													id="battery_info"
													state=1
													text_font_size=998
												[/label]
											[/column]
											[column]
												[button]
													definition="text"
													id="start_base_node"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								[column]
									[spacer]
										definition="default"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[label]
										definition="default"
										id="version"
										mtwusc=true
										state=1
										text_font_size=998
									[/label]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="left"
									[label]
										definition="default"
										id="status"
										mtwusc=true
										state=1
										text_font_size=998
									[/label]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
