#textdomain launcher-lib

[window]
	app="launcher"
	id="if_block2"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[button]
										definition="icon36"
										id="return"
										label="misc/back.png"
									[/button]
								[/column]
								[column]
									grow_factor=1
									[label]
										definition="default"
										id="title"
									[/label]
								[/column]
								[column]
									[button]
										definition="icon36"
										id="insert_if_branch"
										label="misc/insert.png"
									[/button]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right, bottom"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="main_grid"
						[row]
							grow_factor=1
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[listbox]
									definition="default"
									height="(0)"
									horizontal_scrollbar_mode="never"
									id="if_branch_list"
									width="(0)"
									[list_definition]
										[row]
											[column]
												[toggle_panel]
													definition="default"
													[grid]
														[row]
															[column]
																horizontal_alignment="edge"
																[grid]
																	[row]
																		[column]
																			[label]
																				definition="default"
																				height="(40)"
																				id="index"
																				state=1
																			[/label]
																		[/column]
																		[column]
																			grow_factor=1
																			horizontal_alignment="edge"
																			[grid]
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[label]
																							definition="default"
																							id="judges"
																							mtwusc=true
																							text_font_size=999
																						[/label]
																					[/column]
																				[/row]
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[label]
																							definition="default"
																							id="do"
																							mtwusc=true
																							state=1
																							text_font_size=999
																						[/label]
																					[/column]
																				[/row]
																			[/grid]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
														[row]
															[column]
																border="top"
																border_size=4
																horizontal_alignment="edge"
																[image]
																	definition="default"
																	label="misc/split_line.png"
																[/image]
															[/column]
														[/row]
													[/grid]
												[/toggle_panel]
											[/column]
										[/row]
										[row]
											[column]
												[grid]
													[row]
														[column]
															vertical_alignment="edge"
															[button]
																definition="background"
																id="insert_if_judge"
																label=_"Insert if judge"
																min_text_width="(48)"
															[/button]
														[/column]
														[column]
															vertical_alignment="edge"
															[button]
																definition="background"
																id="downward"
																label=_"Downward"
																min_text_width="(48)"
															[/button]
														[/column]
														[column]
															vertical_alignment="edge"
															[button]
																definition="background"
																id="erase"
																label=_"Erase"
																min_text_width="(48)"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
									[/list_definition]
								[/listbox]
							[/column]
						[/row]
						[row]
							[column]
								[spacer]
									definition="default"
									height="(4)"
								[/spacer]
							[/column]
						[/row]
						[row]
							[column]
								horizontal_alignment="edge"
								[grid]
									id="detail_grid"
									[row]
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[listbox]
												definition="default"
												horizontal_scrollbar_mode="never"
												id="detail_list"
												width="(0)"
												[list_definition]
													[row]
														[column]
															[toggle_panel]
																definition="default"
																[grid]
																	[row]
																		[column]
																			border="bottom"
																			border_size=4
																			horizontal_alignment="edge"
																			[grid]
																				[row]
																					[column]
																						[label]
																							definition="default"
																							id="index"
																							state=1
																						[/label]
																					[/column]
																					[column]
																						border="right"
																						border_size=8
																						[button]
																							definition="dropdown"
																							height="(40)"
																							id="logic"
																							width="(96)"
																						[/button]
																					[/column]
																					[column]
																						border="right"
																						border_size=8
																						[button]
																							definition="dropdown"
																							height="(40)"
																							id="judge_op"
																							width="(112)"
																						[/button]
																					[/column]
																					[column]
																						border="right"
																						border_size=8
																						[button]
																							definition="dropdown"
																							height="(40)"
																							id="var_exp"
																							width="(256)"
																						[/button]
																					[/column]
																					[column]
																						border="right"
																						border_size=8
																						grow_factor=1
																						horizontal_alignment="edge"
																						[button]
																							definition="dropdown"
																							height="(40)"
																							id="r_exp"
																							width="(0)"
																						[/button]
																					[/column]
																					[column]
																						[button]
																							definition="icon36"
																							id="erase"
																							label="misc/erase.png"
																						[/button]
																					[/column]
																				[/row]
																			[/grid]
																		[/column]
																	[/row]
																[/grid]
															[/toggle_panel]
														[/column]
													[/row]
												[/list_definition]
											[/listbox]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="edge"
											[stack]
												definition="default"
												id="do_stack"
												mode="radio"
												[layer]
													id="finished_layer"
													[row]
														[column]
															[label]
																definition="default"
																label=_"String"
																state=1
															[/label]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																height="(40)"
																id="speak"
															[/text_box]
														[/column]
														[column]
															[button]
																definition="icon36"
																id="scroll_txt"
																label="misc/arrow_down.png"
															[/button]
														[/column]
														[column]
															[label]
																definition="default"
																id="to_state_label"
																label=_"To state"
																state=1
															[/label]
														[/column]
														[column]
															horizontal_alignment="edge"
															[button]
																definition="dropdown"
																height="(40)"
																id="to_state"
																width="(120)"
															[/button]
														[/column]
													[/row]
												[/layer]
												[layer]
													id="input_var_layer"
													[row]
														[column]
															border="right"
															border_size=8
															[button]
																definition="dropdown"
																height="(40)"
																id="freq_val"
																width="(96)"
															[/button]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																height="(40)"
																id="input_var"
															[/text_box]
														[/column]
													[/row]
												[/layer]
												[layer]
													id="position_layer"
													[row]
														[column]
															[label]
																definition="default"
																label=_"Map position"
																state=1
															[/label]
														[/column]
														[column]
															border="right"
															border_size=8
															[button]
																definition="dropdown"
																height="(40)"
																id="map_position"
																width="(96)"
															[/button]
														[/column]
														[column]
															[label]
																definition="default"
																label=_"String"
																state=1
															[/label]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																height="(40)"
																id="str"
															[/text_box]
														[/column]
													[/row]
												[/layer]
												[layer]
													id="minor_words_layer"
													[row]
														[column]
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																height="(40)"
																id="minor_words"
															[/text_box]
														[/column]
													[/row]
												[/layer]
												[layer]
													id="var_task_layer"
													[row]
														[column]
															border="right"
															border_size=8
															[toggle_button]
																definition="default"
																id="execute"
																label=_"Execute"
															[/toggle_button]
														[/column]
														[column]
															border="left, right"
															border_size=8
															grow_factor=1
															[button]
																definition="text"
																height="(40)"
																id="edit_vars"
															[/button]
														[/column]
													[/row]
												[/layer]
											[/stack]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
