#textdomain launcher-lib

[window]
	app="launcher"
	id="latex_editor"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[button]
													definition="icon36"
													id="ok"
													label="misc/back.png"
												[/button]
											[/column]
											[column]
												grow_factor=1
												[label]
													definition="default"
													id="title"
												[/label]
											[/column]
											[column]
												[spacer]
													definition="default"
													width="(36)"
												[/spacer]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						[row]
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										[column]
											border="left, right"
											border_size=8
											[label]
												definition="default"
												id="label"
												label=_"Quick input"
												state=1
											[/label]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[listbox]
												definition="default"
												height="(0)"
												horizontal_scrollbar_mode="never"
												id="tpl_list"
												width="(240)"
												[list_definition]
													[row]
														[column]
															[toggle_panel]
																definition="default"
																[grid]
																	[row]
																		[column]
																			horizontal_alignment="edge"
																			[grid]
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[label]
																							definition="default"
																							id="name"
																							state=1
																							text_font_size=999
																						[/label]
																					[/column]
																				[/row]
																				[row]
																					[column]
																						horizontal_alignment="left"
																						[label]
																							definition="default"
																							id="formula"
																							mtwusc=true
																						[/label]
																					[/column]
																				[/row]
																			[/grid]
																		[/column]
																	[/row]
																	[row]
																		[column]
																			border="top"
																			border_size=4
																			horizontal_alignment="edge"
																			[image]
																				definition="default"
																				label="misc/split_line.png"
																			[/image]
																		[/column]
																	[/row]
																[/grid]
															[/toggle_panel]
														[/column]
													[/row]
												[/list_definition]
											[/listbox]
										[/column]
									[/row]
								[/grid]
							[/column]
							[column]
								vertical_alignment="edge"
								[image]
									definition="default"
									label="misc/split_v_line.png"
								[/image]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										[column]
											horizontal_alignment="edge"
											[panel]
												definition="default"
												[grid]
													[row]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
													[/row]
													[row]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
													[/row]
													[row]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
														[column]
															[spacer]
																definition="default"
															[/spacer]
														[/column]
													[/row]
												[/grid]
											[/panel]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[track]
												definition="default"
												id="pdf_surf"
											[/track]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[scroll_text_box]
												definition="default"
												horizontal_scrollbar_mode="never"
												id="content"
											[/scroll_text_box]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
