#textdomain launcher-lib

[window]
	app="launcher"
	id="login"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						label="misc/bg_35343a.png"
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(statusbar_height)"
									[/spacer]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[button]
													definition="icon36"
													id="ok"
													label="misc/back.png"
												[/button]
											[/column]
											[column]
												grow_factor=1
												[label]
													definition="default"
													id="title"
													text_color_tpl=1
													text_font_size=1001
												[/label]
											[/column]
											[column]
												[spacer]
													definition="default"
													height="(36)"
													width="(36)"
												[/spacer]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="cswamp_login_grid"
						[row]
							[column]
								horizontal_alignment="edge"
								[rose__cswamp_login]
									id="login_stack"
								[/rose__cswamp_login]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					[spacer]
						definition="default"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(corner_height)"
					[/spacer]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
