#textdomain launcher-lib

[window]
	app="launcher"
	id="mkcourse"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						label="dialogs/default_background.png"
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[button]
													definition="text"
													id="file"
													label=_"File"
													text_color_tpl=1
												[/button]
											[/column]
											[column]
												grow_factor=1
												[label]
													definition="default"
													id="title"
													text_color_tpl=1
												[/label]
											[/column]
											[column]
												[spacer]
													definition="default"
													width="(36)"
												[/spacer]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								[button]
									definition="text"
									id="course_id"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="course_title"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="course_author"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="course_desc"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="course_reference"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="total_days"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="text"
									id="grace_period_days"
								[/button]
							[/column]
							[column]
								grow_factor=4
								[spacer]
									definition="default"
								[/spacer]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						[row]
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									id="left_grid"
									[row]
										[column]
											horizontal_alignment="left"
											[grid]
												id="toolbar_grid"
												[row]
													[column]
														border="right"
														border_size=8
														[button]
															definition="icon36"
															id="save"
															label="misc/save.png"
														[/button]
													[/column]
													[column]
														[button]
															definition="icon36"
															id="share"
															label="misc/share.png"
														[/button]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
									[row]
										[column]
											border="top"
											border_size=8
											horizontal_alignment="edge"
											[button]
												definition="dropdown"
												id="target_aplt"
											[/button]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											border="top"
											border_size=8
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[listbox]
												definition="default"
												height="(0)"
												horizontal_scrollbar_mode="never"
												id="candidate_workout_list"
												width="(240)"
												[list_definition]
													[row]
														[column]
															[toggle_panel]
																definition="default"
																[grid]
																	[row]
																		[column]
																			border="bottom"
																			border_size=8
																			horizontal_alignment="edge"
																			[panel]
																				bottom_margin=0
																				definition="ceil12"
																				id="bg_panel"
																				left_margin=0
																				right_margin=0
																				top_margin=0
																				[grid]
																					[row]
																						[column]
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="title"
																								mtwusc=true
																							[/label]
																						[/column]
																					[/row]
																					[row]
																						[column]
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="desc"
																								mtwusc=true
																							[/label]
																						[/column]
																					[/row]
																				[/grid]
																			[/panel]
																		[/column]
																	[/row]
																[/grid]
															[/toggle_panel]
														[/column]
													[/row]
												[/list_definition]
											[/listbox]
										[/column]
									[/row]
								[/grid]
							[/column]
							[column]
								border="left, right"
								border_size=4
								vertical_alignment="edge"
								[image]
									definition="default"
									label="misc/split_v_line.png"
								[/image]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[report]
												definition="default"
												gap=2
												horizontal_scrollbar_mode="never"
												id="calendar"
												multi_line=true
												toggle=true
												unit_definition="cell12"
												unit_height="(60)"
												unit_width="(56)"
											[/report]
										[/column]
									[/row]
									[row]
										[column]
											border="top"
											border_size=8
											horizontal_alignment="edge"
											[grid]
												id="day_title_grid"
												[row]
													[column]
														horizontal_alignment="left"
														[button]
															definition="text"
															id="day_title"
														[/button]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											border="top"
											border_size=8
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[listbox]
												definition="default"
												height="(0)"
												horizontal_scrollbar_mode="never"
												id="day_workout_list"
												width="(240)"
												[linked_group]
													fixed_width=true
													id="name"
												[/linked_group]
												[list_definition]
													[row]
														[column]
															[toggle_panel]
																definition="default"
																[grid]
																	[row]
																		[column]
																			border="bottom"
																			border_size=8
																			horizontal_alignment="edge"
																			[panel]
																				bottom_margin=0
																				definition="ceil12"
																				id="bg_panel"
																				left_margin=0
																				right_margin=0
																				top_margin=0
																				[grid]
																					[row]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="name"
																								linked_group="name"
																							[/label]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							grow_factor=1
																							horizontal_alignment="left"
																							[button]
																								definition="node"
																								id="note"
																							[/button]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							[button]
																								definition="node"
																								id="rounds"
																							[/button]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							[button]
																								definition="icon36"
																								id="down"
																								label=_"misc/arrow_down.png"
																							[/button]
																						[/column]
																						[column]
																							[button]
																								definition="icon36"
																								id="erase"
																								label=_"misc/erase.png"
																							[/button]
																						[/column]
																					[/row]
																				[/grid]
																			[/panel]
																		[/column]
																	[/row]
																[/grid]
															[/toggle_panel]
														[/column]
													[/row]
												[/list_definition]
											[/listbox]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="left"
					[label]
						definition="default"
						height="(24)"
						id="status"
						state=1
						text_font_size=998
					[/label]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
