#textdomain launcher-lib

[window]
	app="launcher"
	id="moveit"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								horizontal_alignment="left"
								[button]
									definition="icon36"
									id="cancel"
									label="misc/back.png"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[label]
									definition="default"
									id="title"
									text_font_size=1001
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="left"
					[label]
						definition="default"
						id="warnning"
						mtwusc=true
						text_font_size=998
					[/label]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												border="right"
												border_size=8
												[label]
													definition="default"
													label="group"
													state=1
												[/label]
											[/column]
											[column]
												border="right"
												border_size=8
												grow_factor=1
												horizontal_alignment="edge"
												[button]
													definition="dropdown"
													id="group"
												[/button]
											[/column]
											[column]
												[toggle_button]
													definition="default"
													id="include_first"
												[/toggle_button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
							[row]
								grow_factor=1
								[column]
									horizontal_alignment="edge"
									vertical_alignment="edge"
									[listbox]
										definition="default"
										horizontal_scrollbar_mode="never"
										id="joints"
										[list_definition]
											[row]
												[column]
													[toggle_panel]
														definition="default"
														[grid]
															[row]
																[column]
																	border="top, bottom"
																	border_size=4
																	horizontal_alignment="edge"
																	[grid]
																		[row]
																			[column]
																				border="right"
																				border_size=4
																				[label]
																					definition="default"
																					id="name"
																				[/label]
																			[/column]
																			[column]
																				grow_factor=1
																				horizontal_alignment="edge"
																				[slider]
																					definition="default"
																					id="slider"
																					maximum_value=100
																					step_size=1
																				[/slider]
																			[/column]
																			[column]
																				[label]
																					definition="default"
																					id="value"
																					state=1
																					text_font_size=998
																					width="(36)"
																				[/label]
																			[/column]
																		[/row]
																	[/grid]
																[/column]
															[/row]
														[/grid]
													[/toggle_panel]
												[/column]
											[/row]
										[/list_definition]
									[/listbox]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												[button]
													definition="dropdown"
													id="ik_range"
													label="ik range"
												[/button]
											[/column]
											[column]
												[button]
													definition="default"
													id="lookup_table"
													label="Lookup table"
												[/button]
											[/column]
											[column]
												[button]
													definition="default"
													id="ikfast"
													label="ikfast"
												[/button]
											[/column]
											[column]
												[button]
													definition="dropdown"
													id="state"
													label="State"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								border="left, right"
								border_size=8
								grow_factor=1
								horizontal_alignment="left"
								[label]
									definition="default"
									id="status"
									mtwusc=true
									state=1
									text_font_size=998
								[/label]
							[/column]
							[column]
								horizontal_alignment="edge"
								[label]
									definition="default"
									height="(18)"
									id="rpy"
									state=1
									text_font_size=998
									width="(192)"
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
