#textdomain launcher-lib

[window]
	app="launcher"
	id="settings"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[linked_group]
			fixed_width=true
			id="driver_label"
		[/linked_group]
		[linked_group]
			fixed_width=true
			id="line_label"
		[/linked_group]
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					[grid]
						id="header_grid"
						[row]
							[column]
								horizontal_alignment="left"
								[button]
									definition="icon36"
									id="cancel"
									label="misc/back.png"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[label]
									definition="default"
									id="title"
									text_font_size=1001
								[/label]
							[/column]
							[column]
								[spacer]
									definition="default"
									width="(36)"
								[/spacer]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="settings_grid"
						[row]
							[column]
								horizontal_alignment="left"
								[label]
									definition="default"
									id="warnning"
									mtwusc=true
									text_font_size=998
								[/label]
							[/column]
						[/row]
						[row]
							[column]
								horizontal_alignment="edge"
								[grid]
									id="login_grid"
									[row]
										[column]
											border="right"
											border_size=8
											horizontal_alignment="left"
											[label]
												definition="default"
												label=_"CSwamp account"
											[/label]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="right"
											[label]
												definition="default"
												id="login_label"
												state=1
											[/label]
										[/column]
										[column]
											[button]
												definition="icon36"
												height="(40)"
												id="login"
												label="misc/arrow_right.png"
											[/button]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								horizontal_alignment="edge"
								[grid]
									id="privacy_grid"
									[row]
										[column]
											border="right"
											border_size=8
											horizontal_alignment="left"
											[label]
												definition="default"
												label=_"Privacy protection"
											[/label]
										[/column]
										[column]
											[toggle_button]
												definition="ellipse"
												id="privacy_protection"
											[/toggle_button]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="right"
											[label]
												definition="default"
												id="privacy_desc"
												mtwusc=true
												state=1
												text_font_size=998
											[/label]
										[/column]
										[column]
											[button]
												definition="icon36"
												height="(40)"
												id="privacy"
												label="misc/arrow_right.png"
											[/button]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								horizontal_alignment="edge"
								[grid]
									id="driver_grid"
									[row]
										[column]
											horizontal_alignment="edge"
											[grid]
												id="base_laser_grid"
												[row]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="base_driver_grid"
															[row]
																[column]
																	border="right"
																	border_size=4
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"Base driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="base_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="laser_driver_grid"
															[row]
																[column]
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"Laser driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="laser_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="left"
											[label]
												definition="default"
												id="dcamera_moveit_driver_help"
												mtwusc=true
												state=1
												text_font_size=998
											[/label]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="edge"
											[grid]
												id="dcamera_moveit_driver"
												[row]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="dcamera_driver_grid"
															[row]
																[column]
																	border="right"
																	border_size=4
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"DCamera driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="dcamera_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="moveit_driver_grid"
															[row]
																[column]
																	border="right"
																	border_size=4
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"Moveit driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="moveit_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="left"
											[label]
												definition="default"
												id="iot_speech_driver_help"
												mtwusc=true
												state=1
												text_font_size=998
											[/label]
										[/column]
									[/row]
									[row]
										[column]
											horizontal_alignment="edge"
											[grid]
												id="iot_speech_driver"
												[row]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="iot_driver_grid"
															[row]
																[column]
																	border="right"
																	border_size=4
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"IoT driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="iot_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
													[column]
														border="bottom"
														border_size=4
														horizontal_alignment="edge"
														[grid]
															id="speech_driver_grid"
															[row]
																[column]
																	border="right"
																	border_size=4
																	horizontal_alignment="right"
																	[label]
																		definition="default"
																		label=_"Speech driver"
																		linked_group="driver_label"
																		state=1
																	[/label]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="edge"
																	[button]
																		definition="dropdown"
																		height="(40)"
																		id="speech_driver"
																	[/button]
																[/column]
															[/row]
														[/grid]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								border="bottom"
								border_size=8
								horizontal_alignment="edge"
								[grid]
									id="charge_grid"
									[row]
										[column]
											border="right"
											border_size=4
											horizontal_alignment="right"
											[label]
												definition="default"
												label=_"AI driver"
												linked_group="driver_label"
												state=1
											[/label]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="edge"
											[button]
												definition="dropdown"
												height="(40)"
												id="ai_driver"
											[/button]
										[/column]
										[column]
											border="left"
											border_size=16
											[grid]
												id="imu_grid"
												[row]
													[column]
														border="right"
														border_size=8
														horizontal_alignment="left"
														[label]
															definition="default"
															label=_"External IMU"
															linked_group="line_label"
														[/label]
													[/column]
													[column]
														[button]
															definition="default"
															height="(40)"
															id="start_imu"
														[/button]
													[/column]
												[/row]
											[/grid]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								border="bottom"
								border_size=8
								horizontal_alignment="edge"
								[grid]
									id="map_grid"
									[row]
										[column]
											border="right"
											border_size=8
											horizontal_alignment="left"
											[label]
												definition="default"
												label=_"Charge"
											[/label]
										[/column]
										[column]
											border="right"
											border_size=8
											grow_factor=2
											horizontal_alignment="edge"
											[button]
												definition="dropdown"
												height="(40)"
												id="charge_task"
											[/button]
										[/column]
										[column]
											border="right"
											border_size=16
											[button]
												definition="default"
												height="(40)"
												id="charge_width"
												width="(128)"
											[/button]
										[/column]
										[column]
											border="right"
											border_size=8
											horizontal_alignment="left"
											[label]
												definition="default"
												label=_"Map"
											[/label]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="edge"
											[button]
												definition="dropdown"
												height="(40)"
												id="map"
											[/button]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="right"
											[label]
												definition="default"
												id="map_position_label"
												state=1
											[/label]
										[/column]
										[column]
											[button]
												definition="icon36"
												height="(40)"
												id="map_position"
												label="misc/arrow_right.png"
											[/button]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								border="bottom"
								border_size=8
								horizontal_alignment="edge"
								[grid]
									id="import_grid"
									[row]
										[column]
											border="right"
											border_size=8
											horizontal_alignment="left"
											[label]
												definition="default"
												label=_"Import kLink cfgs"
											[/label]
										[/column]
										[column]
											grow_factor=1
											horizontal_alignment="right"
											[label]
												definition="default"
												id="import_klink_cfgs_desc"
												mtwusc=true
												state=1
												text_font_size=998
											[/label]
										[/column]
										[column]
											[button]
												definition="icon36"
												height="(40)"
												id="import_klink_cfgs"
												label="misc/arrow_right.png"
											[/button]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
						[row]
							[column]
								[spacer]
									definition="default"
									height="(0)"
								[/spacer]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								grow_factor=1
								horizontal_alignment="left"
								[label]
									definition="default"
									id="status"
									mtwusc=true
									state=1
									text_font_size=998
								[/label]
							[/column]
							[column]
								horizontal_alignment="edge"
								[label]
									definition="default"
									height="(18)"
									id="rpy"
									state=1
									text_font_size=998
									width="(192)"
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
