#textdomain launcher-lib

[window]
	app="launcher"
	id="speak_state2"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[button]
										definition="icon36"
										id="back"
										label="misc/back.png"
									[/button]
								[/column]
								[column]
									grow_factor=1
									[grid]
										[row]
											[column]
												[label]
													definition="default"
													label=_"State name"
													state=1
												[/label]
											[/column]
											[column]
												border="right"
												border_size=8
												[text_box]
													definition="default"
													id="state_name"
													width="(screen_width * 60 / 100)"
												[/text_box]
											[/column]
											[column]
												[toggle_button]
													definition="default"
													id="debug_skip"
												[/toggle_button]
											[/column]
										[/row]
									[/grid]
								[/column]
								[column]
									[spacer]
										definition="default"
										width="(36)"
									[/spacer]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right, bottom"
					border_size=8
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						[row]
							[column]
								border="right"
								border_size=8
								horizontal_alignment="right"
								vertical_alignment="top"
								[label]
									definition="default"
#textdomain rose-lib
									label=_"wko^task_speak, msgstr label"
								[/label]
							[/column]
							[column]
								border="bottom"
								border_size=8
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[scroll_text_box]
									definition="default"
									height="((screen_height * 20) / 100)"
									horizontal_scrollbar_mode="never"
									id="msgstr"
								[/scroll_text_box]
							[/column]
						[/row]
						[row]
							[column]
								border="right"
								border_size=8
								horizontal_alignment="right"
								[label]
									definition="default"
									label=_"wko^task_speak, repeat_s label"
								[/label]
							[/column]
							[column]
								border="bottom"
								border_size=8
								horizontal_alignment="edge"
								[text_box]
									definition="default"
									id="repeat_s"
								[/text_box]
							[/column]
						[/row]
						[row]
							[column]
								border="right"
								border_size=8
								horizontal_alignment="right"
								[label]
									definition="default"
									label=_"wko^task_speak, min_state_duration_s label"
								[/label]
							[/column]
							[column]
								horizontal_alignment="edge"
								[text_box]
									definition="default"
									id="min_state_duration_s"
								[/text_box]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="left"
					[label]
						definition="default"
						id="task_remark"
						mtwusc=true
						state=1
						text_font_size=999
					[/label]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					[spacer]
						definition="default"
					[/spacer]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
