#textdomain launcher-lib

[window]
	app="launcher"
	id="speech2"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="left"
					[label]
						definition="default"
						id="warnning"
						mtwusc=true
						text_font_size=998
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								border="left, right"
								border_size=5
								[button]
									definition="icon36"
									id="return"
									label="misc/back.png"
								[/button]
							[/column]
							[column]
								[spacer]
									definition="default"
									width="(8)"
								[/spacer]
							[/column]
							[column]
								border="right"
								border_size=8
								[button]
									definition="icon36"
									id="save"
									label="misc/save.png"
								[/button]
							[/column]
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[text_box]
									definition="default"
									id="nick"
									width="(120)"
								[/text_box]
							[/column]
							[column]
								border="right"
								border_size=8
								[button]
									definition="icon36"
									id="insert_speech_sensor"
									label="misc/insert_speech_sensor.png"
								[/button]
							[/column]
							[column]
								border="right"
								border_size=8
								[button]
									definition="icon36"
									id="erase_speech_sensor"
									label="misc/erase_speech_sensor.png"
								[/button]
							[/column]
							[column]
								border="right"
								border_size=8
								grow_factor=2
								horizontal_alignment="edge"
								[button]
									definition="dropdown"
									id="speech_sensor"
									min_text_width="(160)"
								[/button]
							[/column]
							[column]
								border="right"
								border_size=16
								vertical_alignment="edge"
								[image]
									definition="default"
									height="(0)"
									label="misc/split_v_line.png"
								[/image]
							[/column]
							[column]
								border="right"
								border_size=8
								[button]
									definition="icon36"
									id="insert_var"
									label="misc/insert_var.png"
								[/button]
							[/column]
							[column]
								border="right"
								border_size=8
								[button]
									definition="icon36"
									id="erase"
									label="misc/erase_misc.png"
								[/button]
							[/column]
							[column]
								grow_factor=1
								[spacer]
									definition="default"
								[/spacer]
							[/column]
							[column]
								[button]
									definition="icon36"
									id="import"
									label="misc/import.png"
								[/button]
							[/column]
							[column]
								border="left"
								border_size=8
								[button]
									definition="icon36"
									id="export"
									label="misc/export.png"
								[/button]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[image]
						definition="default"
						label="misc/split_line.png"
					[/image]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						id="_var_panel"
						left_margin=8
						right_margin=8
						top_margin=0
						[grid]
							[row]
								[column]
									[spacer]
										definition="default"
										height="(40)"
									[/spacer]
								[/column]
								[column]
									grow_factor=1
									horizontal_alignment="edge"
									[grid]
										[row]
											[column]
												horizontal_alignment="edge"
												[grid]
													[row]
														[column]
															[label]
																definition="default"
																id="var_name"
															[/label]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[stack]
																definition="default"
																id="var_val_stack"
																mode="radio"
																[layer]
																	[row]
																		[column]
																			horizontal_alignment="left"
																			[label]
																				definition="default"
																				id="var_val_label"
																				mtwusc=true
																				state=1
																				text_font_size=998
																			[/label]
																		[/column]
																	[/row]
																[/layer]
																[layer]
																	[row]
																		[column]
																			border="left"
																			border_size=8
																			horizontal_alignment="edge"
																			[rose__text_box2]
																				id="var_val_editbox"
																			[/rose__text_box2]
																		[/column]
																	[/row]
																[/layer]
																[layer]
																	[row]
																		[column]
																			border="left"
																			border_size=8
																			horizontal_alignment="edge"
																			[button]
																				definition="dropdown"
																				id="var_val_dropdown"
																			[/button]
																		[/column]
																	[/row]
																[/layer]
															[/stack]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
									[/grid]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					border="left, right"
					border_size=8
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								[spacer]
									definition="default"
									height="(18)"
								[/spacer]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="left"
								[label]
									definition="default"
									id="status"
									mtwusc=true
									state=1
									text_font_size=998
								[/label]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="_tree_grid"
						[row]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[tree]
												definition="default"
												foldable=true
												height="(0)"
												id="left_tree"
												indention_step_size=12
												width="(0)"
												[node]
													id="default"
													[node_definition]
														definition="default"
														[grid]
															[row]
																[column]
																	[toggle_button]
																		definition="tree_node"
																		id="__icon"
																	[/toggle_button]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="left"
																	[label]
																		definition="node"
																		id="label"
																		state=1
																	[/label]
																[/column]
															[/row]
														[/grid]
													[/node_definition]
												[/node]
											[/tree]
										[/column]
									[/row]
								[/grid]
							[/column]
							[column]
								vertical_alignment="edge"
								[image]
									definition="default"
									label="misc/split_v_line.png"
								[/image]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[tree]
												definition="default"
												foldable=true
												height="(0)"
												id="right_tree"
												indention_step_size=12
												width="(0)"
												[node]
													id="default"
													[node_definition]
														definition="default"
														[grid]
															[row]
																[column]
																	[toggle_button]
																		definition="tree_node"
																		id="__icon"
																	[/toggle_button]
																[/column]
																[column]
																	grow_factor=1
																	horizontal_alignment="left"
																	[label]
																		definition="node"
																		id="label"
																		state=1
																	[/label]
																[/column]
															[/row]
														[/grid]
													[/node_definition]
												[/node]
											[/tree]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
