# must define bundle_id, version.

bundle_id = "aplt.leagor.khome"
version = "0.0.1-20250304"

[task]
	id = "query"
	type = "block"

	# if 'query_id' is existed, use it. else use 'query_name'.
	[var]
		name = "query_id"
		input = true
		type = "string"
	[/var]

	[var]
		name = "query_name"
		input = true
		type = "string"
	[/var]

	# output when one name matched
	[var]
		name = "id"
		type = "string"
	[/var]

	[var]
		name = "position"
		type = "string"
	[/var]

	[var]
		name = "desc"
		type = "string"
	[/var]

	[var]
		name = "brands"
		type = "string"
	[/var]

	[var]
		name = "position_uuid"
		type = "string"
	[/var]

	# output when multiple name matched
	[var]
		name = "ids" # array
		type = "array"
	[/var]

	[var]
		name = "descs" # array
		type = "array"
	[/var]
[/task]


[task]
	id = "query_cooking"
	type = "block"

	[var]
		name = "iot_alias"
		input = true
		type = "string"
	[/var]
	[var]
		name = "table"
		input = true
		type = "integer"
	[/var]

	# output
	[var]
		name = "table_at"
		type = "integer"
	[/var]
	[var]
		name = "table_uuid"
		type = "string"
	[/var]
	[var]
		name = "table_name"
		type = "string"
	[/var]
	[var]
		name = "total_amount"
		type = "double"
	[/var]
	[var]
		name = "cooking_name" # array
		type = "array"
	[/var]
	[var]
		name = "cooking_count" # array
		type = "array"
	[/var]
	[var]
		name = "cooking_time" # array
		type = "array"
	[/var]
	[var]
		name = "cooking_time_hms" # array
		type = "array"
	[/var]
	[var]
		name = "done_name" # array
		type = "array"
	[/var]
	[var]
		name = "done_count" # array
		type = "array" 
	[/var]
[/task]

[task]
	id = "parse_time"
	type = "block"

	[var]
		name = "is_elapse"
		input = true
		type = "bool"
	[/var]
	[var]
		name = "t_val"
		input = true
		type = "integer"
	[/var]

	# output
	[var]
		name = "hour"
		type = "integer"
	[/var]
	[var]
		name = "minute"
		type = "integer"
	[/var]
	[var]
		name = "second"
		type = "integer"
	[/var]

	# special for is_elapse == false
	[var]
		name = "period"
		type = "string"
	[/var]

	# special for is_elapse == true
	[var]
		name = "day"
		type = "integer"
	[/var]
[/task]

[task]
	id = "kbook"
	type = "block"

	[var]
		name = "kbook_page"
		input = true
		type = "integer"
	[/var]

	[var]
		name = "kbook_number"
		input = true
		type = "integer"
	[/var]

	# output
	[var]
		name = "kbook_retbool"
		type = "bool"
	[/var]

	[var]
		name = "kbook_question"
		type = "string"
	[/var]

	[var]
		name = "kbook_image"
		type = "string"
	[/var]

	[var]
		name = "kbook_keynotes"
		type = "array"
	[/var]
[/task]

[task]
	id = "snapshot"
	type = "camera"

	[var]
		name = "timestamp"
		input = true
		type = "bool"
	[/var]
	[var]
		name = "png"
		input = true
		type = "bool"
	[/var]
	[var]
		name = "count"
		input = true
		type = "integer"
	[/var]
	[var]
		name = "not_send"
		input = true
		type = "bool"
	[/var]
[/task]

[task]
	id = "kpose"
	type = "camera"

	[var]
		name = "type"
		input = true
		type = "string"
	[/var]
[/task]

[task]
	id = "workout"
	type = "camera"
	no_swap_wh_for_screen = true

	[var]
		name = "file"
		input = true
		type = "string"
	[/var]
[/task]

[task]
	id = "kface"
	type = "camera"

	[var]
		name = "op"
		input = true
		type = "string"
	[/var]

	# output
	[var]
		name = "faceid"
		type = "integer"
	[/var]

	[var]
		name = "face_name"
		type = "string"
	[/var]

	[var]
		name = "face_ts"
		type = "integer"
	[/var]

[/task]

[task]
	id = "recognition"
	type = "camera"
[/task]