# must define bundle_id, version.

bundle_id = "aplt.leagor.basic"
version = "0.0.1-20250510"
base_driver = true
laser_driver = true
moveit_driver = true
dcamera_driver = true
iot_driver = true
speech_driver = true
ai_driver = true

permissions = "navigation"

[task]
	id = "grasp"
	type = "moveit"
	# permissions = "navigation, moveit"
[/task]
[task]
	id = "press_top"
	type = "moveit"
	# permissions = "navigation, moveit"
[/task]
[task]
	id = "press_middle"
	type = "moveit"
	# permissions = "navigation, moveit"
[/task]

# [task]
#	id = "move2_task"
#	type = "cpp"
# [/task]

# [task]
#	id = "exe_task_only"
#	type = "cpp"
# [/task]

[task]
	id = "speak_var"
	type = "cpp"
	# interruptable = true
[/task]

[task]
	id = "modify_env_var"
	type = "block"

	[var]
		name = "var_name"
		input = true
		type = "string"
	[/var]
	[var]
		name = "var_value"
		input = true
		type = "integer"
	[/var]
[/task]

[task]
	id = "alert"
	type = "block"

	[var]
		name = "msg"
		input = true
		type = "string"
	[/var]

	[var]
		name = "persist"
		input = true
		type = "bool"
	[/var]

	[var]
		name = "voice"
		input = true
		type = "bool"
	[/var]

	[var]
		name = "floating_window"
		input = true
		type = "bool"
	[/var]
[/task]

[task]
	id = "privacy"
	type = "block"

	[var]
		name = "protect"
		input = true
		type = "bool"
	[/var]
[/task]

[task]
	id = "base_scene"
	type = "block"

	[var]
		name = "name"
		input = true
		type = "string"
	[/var]

	[var]
		name = "action"
		input = true
		type = "string"
	[/var]

	# output
	[var]
		name = "bs_retbool"
		type = "bool"
	[/var]
	[var]
		name = "bs_result_msg"
		type = "string"
	[/var]
[/task]

[task]
	id = "timed_task"
	type = "block"

	[var]
		name = "task_cfg"
		input = true
		type = "string"
	[/var]

	# output
	[var]
		name = "tt_retbool"
		type = "bool"
	[/var]
[/task]

[task]
	id = "charge"
	type = "nonblock"
	subtype = "charge"
[/task]

[task]
	id = "deepseek"
	type = "nonblock"
	subtype = "nlp"

	[var]
		name = "ds_question"
		input = true
		type = "string"
	[/var]

	[var]
		name = "ds_image"
		input = true
		type = "string"
	[/var]

	# output
	[var]
		name = "ds_retbool"
		type = "bool"
	[/var]

	[var]
		name = "ds_answer"
		type = "string"
	[/var]
[/task]

[task]
	id = "add_timed_reminder"
	type = "aiagent"
[/task]

[task]
	id = "exam"
	type = "aiagent"
[/task]