#textdomain launcher-lib

[window]
	app="launcher"
	id="chart_scene"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="null"
		height="(screen_height)"
		orientation="landscape"
		scene=true
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[scene]
			tile_shape="square"
			[main_map_border]
				background_image="terrain-square/off-map/background.png"
				border_image_bottom_even="terrain-hexagonal/off-map/fade_border_bottom_even_editor.png"
				border_image_bottom_odd="terrain-hexagonal/off-map/fade_border_bottom_odd_editor.png"
				border_image_left="terrain-hexagonal/off-map/fade_border_left_editor.png"
				border_image_right="terrain-hexagonal/off-map/fade_border_right_editor.png"
				border_image_top_even="terrain-hexagonal/off-map/fade_border_top_even_editor.png"
				border_image_top_odd="terrain-hexagonal/off-map/fade_border_top_odd_editor.png"
				border_size=0
				corner_image_bottom_left="terrain-hexagonal/off-map/fade_corner_bottom_left_editor.png"
				corner_image_bottom_right_even="terrain-hexagonal/off-map/fade_corner_bottom_right_even_editor.png"
				corner_image_bottom_right_odd="terrain-hexagonal/off-map/fade_corner_bottom_right_odd_editor.png"
				corner_image_top_left="terrain-hexagonal/off-map/fade_corner_top_left_editor.png"
				corner_image_top_right_even="terrain-hexagonal/off-map/fade_corner_top_right_even_editor.png"
				corner_image_top_right_odd="terrain-hexagonal/off-map/fade_corner_top_right_odd_editor.png"
				tile_image="off-map/alpha.png"
				view_rectangle_color="blue"
			[/main_map_border]
		[/scene]
		[float_widget]
			ref="_main_map"
			x="(ref_width - width);-10"
			y="(0);10"
			[track]
				definition="default"
				height="(32)"
				id="tag1"
				width="(150)"
			[/track]
		[/float_widget]
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						label="misc/bg_ffffff.png"
						left_margin=4
						right_margin=4
						top_margin=0
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[rose__statusbar]
										id="statusbar"
									[/rose__statusbar]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[grid]
						id="top_grid"
						[row]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								[panel]
									bottom_margin=0
									definition="default"
									id="top_panel"
									label="misc/bg_ffffff.png"
									top_margin=0
									[grid]
										[row]
											[column]
												horizontal_alignment="edge"
												[grid]
													[row]
														[column]
															[button]
																definition="icon36"
																id="return"
																label="misc/back.png"
															[/button]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[label]
																definition="default"
																height="(32)"
																id="format"
																state=1
																text_font_size=998
															[/label]
														[/column]
														[column]
															[toggle_button]
																definition="default"
																id="show_nagtive"
																label=_"Show nagtive"
															[/toggle_button]
														[/column]
														[column]
															[grid]
																id="icon_grid"
																[row]
																	[column]
																		[image]
																			definition="blits"
																			height="(18)"
																			id="icon_voice_maybe_start"
																			width="(18)"
																		[/image]
																	[/column]
																[/row]
																[row]
																	[column]
																		[image]
																			definition="blits"
																			height="(18)"
																			id="icon_allow_short_voice"
																			width="(18)"
																		[/image]
																	[/column]
																[/row]
															[/grid]
														[/column]
														[column]
															[button]
																definition="icon36"
																id="record"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="edge"
												[image]
													definition="default"
													label="misc/split_line2.png"
												[/image]
											[/column]
										[/row]
									[/grid]
								[/panel]
							[/column]
							[column]
								border="right, top, bottom"
								border_size=4
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[image]
									definition="blits"
									id="_mini_map"
									width="((screen_width*40)/100)"
								[/image]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="main_grid"
						[row]
							grow_factor=1
							[column]
								vertical_alignment="edge"
								[panel]
									bottom_margin=0
									definition="default"
									id="left_panel"
									label="misc/chart_background.png"
									left_margin=0
									right_margin=0
									top_margin=0
									[grid]
										[row]
											grow_factor=1
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[track]
													definition="default"
													id="tag"
													width="(56)"
												[/track]
											[/column]
										[/row]
										[row]
											[column]
												[button]
													definition="icon36"
													id="play"
													label="misc/play_music.png"
												[/button]
											[/column]
										[/row]
									[/grid]
								[/panel]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[spacer]
												definition="default"
												id="_main_map"
											[/spacer]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						id="status_panel"
						label="misc/bg_f3f3f3.png"
						left_margin=0
						right_margin=0
						top_margin=0
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[label]
										definition="default"
										height="(32)"
										id="status"
										text_font_size=998
									[/label]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
