#textdomain launcher-lib

[window]
	app="launcher"
	id="mkscript_scene"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="null"
		height="(screen_height)"
		orientation="landscape"
		scene=true
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[scene]
			tile_shape="square"
			[main_map_border]
				background_image="terrain-square/off-map/background.png"
				border_image_bottom_even="terrain-hexagonal/off-map/fade_border_bottom_even_editor.png"
				border_image_bottom_odd="terrain-hexagonal/off-map/fade_border_bottom_odd_editor.png"
				border_image_left="terrain-hexagonal/off-map/fade_border_left_editor.png"
				border_image_right="terrain-hexagonal/off-map/fade_border_right_editor.png"
				border_image_top_even="terrain-hexagonal/off-map/fade_border_top_even_editor.png"
				border_image_top_odd="terrain-hexagonal/off-map/fade_border_top_odd_editor.png"
				border_size=0
				corner_image_bottom_left="terrain-hexagonal/off-map/fade_corner_bottom_left_editor.png"
				corner_image_bottom_right_even="terrain-hexagonal/off-map/fade_corner_bottom_right_even_editor.png"
				corner_image_bottom_right_odd="terrain-hexagonal/off-map/fade_corner_bottom_right_odd_editor.png"
				corner_image_top_left="terrain-hexagonal/off-map/fade_corner_top_left_editor.png"
				corner_image_top_right_even="terrain-hexagonal/off-map/fade_corner_top_right_even_editor.png"
				corner_image_top_right_odd="terrain-hexagonal/off-map/fade_corner_top_right_odd_editor.png"
				tile_image="off-map/alpha.png"
				view_rectangle_color="blue"
			[/main_map_border]
		[/scene]
		[context_menu]
			main="build, zoomin, zoomout, system, save, settings, next_state, clone, switch_sub1, switch_add1, insert_right, insert_child, copy, cut, paste, pack, unpack, erase, erase_row, erase_column, working_dir, share"
			report="main"
		[/context_menu]
		[float_widget]
			ref="_main_map"
			x="(-1 * width / 2);0"
			y="(ref_height - height);0"
			[image]
				definition="default"
				id="_float_lb"
				label="misc/operating.png"
			[/image]
		[/float_widget]
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						label="misc/bg_ffffff.png"
						left_margin=4
						right_margin=4
						top_margin=0
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[rose__statusbar]
										id="statusbar"
									[/rose__statusbar]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="_top_grid"
						[row]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[panel]
									definition="default"
									label="dialogs/default_background.png"
									[grid]
										[row]
											[column]
												[button]
													definition="text"
													id="file"
													label=_"File"
													min_text_width="(36)"
													text_color_tpl=1
												[/button]
											[/column]
											[column]
												grow_factor=1
												[label]
													definition="default"
													id="title"
													label="title"
													text_color_tpl=1
													text_font_size=999
													width="((screen_width * 40 / 100))"
												[/label]
											[/column]
										[/row]
									[/grid]
								[/panel]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						[row]
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									id="_left_grid"
									[row]
										[column]
											[spacer]
												definition="default"
												width="(142)"
											[/spacer]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[panel]
												bottom_margin=0
												definition="default"
												label="misc/bg_ebebeb.png"
												left_margin=4
												right_margin=2
												top_margin=4
												[grid]
													[row]
														[column]
															horizontal_alignment="edge"
															vertical_alignment="edge"
															[panel]
																bottom_margin=0
																definition="default"
																id="right_panel"
																label="misc/bg_f3f3f3.png"
																left_margin=0
																right_margin=0
																top_margin=0
																[grid]
																	[row]
																		[column]
																			border="bottom"
																			border_size=8
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[grid]
																				[row]
																					[column]
																						[spacer]
																							definition="default"
																							height="(95)"
																						[/spacer]
																					[/column]
																					[column]
																						grow_factor=1
																						horizontal_alignment="edge"
																						vertical_alignment="edge"
																						[image]
																							definition="blits"
																							id="_mini_map"
																						[/image]
																					[/column]
																				[/row]
																			[/grid]
																		[/column]
																	[/row]
																	[row]
																		grow_factor=1
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[panel]
																				bottom_margin=0
																				definition="default"
																				left_margin=0
																				right_margin=0
																				top_margin=0
																				[grid]
																					[row]
																						[column]
																							horizontal_alignment="edge"
																							vertical_alignment="edge"
																							[stack]
																								definition="default"
																								[layer]
																									[row]
																										[column]
																											horizontal_alignment="edge"
																											vertical_alignment="edge"
																											[report]
																												definition="default"
																												gap=2
																												height="(0)"
																												horizontal_scrollbar_mode="never"
																												id="widget_palette"
																												multi_line=true
																												unit_definition="vertical_node"
																												unit_height="(56)"
																												unit_width="(64)"
																												width="(0)"
																											[/report]
																										[/column]
																									[/row]
																								[/layer]
																							[/stack]
																						[/column]
																					[/row]
																				[/grid]
																			[/panel]
																		[/column]
																	[/row]
																[/grid]
															[/panel]
														[/column]
													[/row]
												[/grid]
											[/panel]
										[/column]
									[/row]
								[/grid]
							[/column]
							[column]
								grow_factor=1
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[grid]
									id="_right_grid"
									[row]
										[column]
											horizontal_alignment="edge"
											[panel]
												bottom_margin=0
												definition="default"
												label="misc/bg_f3f3f3.png"
												left_margin=0
												right_margin=0
												top_margin=0
												[grid]
													[row]
														[column]
															[spacer]
																definition="default"
																height="(45)"
															[/spacer]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															vertical_alignment="edge"
															[stack]
																definition="default"
																id="context_menu_panel"
																mode="radio"
																use_max_layer_best_size=true
																[layer]
																	[row]
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[report]
																				definition="default"
																				gap=8
																				horizontal_scrollbar_mode="never"
																				id="main"
																				unit_definition="blits"
																				unit_height="(36)"
																				unit_width="(36)"
																				vertical_scrollbar_mode="never"
																			[/report]
																		[/column]
																	[/row]
																[/layer]
																[layer]
																	[row]
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[track]
																				definition="default"
																				id="task_status"
																			[/track]
																		[/column]
																	[/row]
																[/layer]
															[/stack]
														[/column]
														[column]
															[button]
																definition="icon36"
																id="rclick"
																label="misc/background45.png"
															[/button]
														[/column]
													[/row]
												[/grid]
											[/panel]
										[/column]
									[/row]
									[row]
										grow_factor=1
										[column]
											horizontal_alignment="edge"
											vertical_alignment="edge"
											[spacer]
												definition="default"
												id="_main_map"
											[/spacer]
										[/column]
									[/row]
								[/grid]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						bottom_margin=0
						definition="default"
						label="misc/bg_f3f3f3.png"
						top_margin=0
						[grid]
							[row]
								[column]
									horizontal_alignment="edge"
									[image]
										definition="default"
										label="misc/split_line.png"
									[/image]
								[/column]
							[/row]
							[row]
								[column]
									horizontal_alignment="edge"
									[label]
										definition="default"
										height="(24)"
										id="status"
										state=1
										text_font_size=998
									[/label]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
