#textdomain aplt_leagor_khome-lib

[window]
	app="aplt_leagor_khome"
	id="face"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[button]
										definition="icon36"
										id="back"
										label="misc/back.png"
									[/button]
								[/column]
								[column]
									grow_factor=1
									[label]
										definition="default"
										id="title"
									[/label]
								[/column]
								[column]
									[rose__aplt]
										id="aplt"
									[/rose__aplt]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="main_grid"
						[row]
							[column]
								horizontal_alignment="edge"
								[report]
									definition="default"
									horizontal_scrollbar_mode="never"
									id="tag_report"
									toggle=true
									unit_definition="text"
									unit_height="(0)"
									unit_width="(0)"
								[/report]
							[/column]
						[/row]
						[row]
							grow_factor=1
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[stack]
									definition="default"
									id="list_stack"
									mode="radio"
									[layer]
										[row]
											[column]
												horizontal_alignment="edge"
												[grid]
													id="id_grid"
													[row]
														[column]
															border="right"
															border_size=8
															[label]
																definition="default"
																label=_"Device alias ID"
															[/label]
														[/column]
														[column]
															grow_factor=1
															horizontal_alignment="edge"
															[text_box]
																definition="default"
																id="alias_id"
															[/text_box]
														[/column]
													[/row]
												[/grid]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="left"
												[toggle_button]
													definition="default"
													id="show_image"
													label=_"Show image"
												[/toggle_button]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="left"
												[label]
													definition="default"
													id="remark"
													mtwusc=true
													state=1
													text_font_size=998
												[/label]
											[/column]
										[/row]
										[row]
											grow_factor=1
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[listbox]
													definition="default"
													height="(0)"
													horizontal_scrollbar_mode="never"
													id="face_list"
													width="(0)"
													[linked_group]
														fixed_width=true
														id="faceid"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="time"
													[/linked_group]
													[list_definition]
														[row]
															[column]
																[toggle_panel]
																	definition="default"
																	[grid]
																		[row]
																			[column]
																				horizontal_alignment="edge"
																				[grid]
																					[row]
																						[column]
																							[spacer]
																								definition="default"
																								height="(36)"
																							[/spacer]
																						[/column]
																						[column]
																							border="right"
																							border_size=4
																							[label]
																								definition="default"
																								id="faceid"
																								linked_group="faceid"
																							[/label]
																						[/column]
																						[column]
																							[image]
																								definition="default"
																								height="(36)"
																								id="img"
																								width="(36)"
																							[/image]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							grow_factor=1
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="name"
																								state=1
																							[/label]
																						[/column]
																						[column]
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="time"
																								linked_group="time"
																								state=1
																							[/label]
																						[/column]
																					[/row]
																				[/grid]
																			[/column]
																		[/row]
																		[row]
																			[column]
																				border="top"
																				border_size=8
																				horizontal_alignment="edge"
																				[image]
																					definition="default"
																					label="misc/split_line.png"
																				[/image]
																			[/column]
																		[/row]
																	[/grid]
																[/toggle_panel]
															[/column]
														[/row]
														[row]
															[column]
																[grid]
																	[row]
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[button]
																				definition="background"
																				id="modify_name"
																				label=_"Modify name"
																				min_text_width="(40)"
																			[/button]
																		[/column]
																		[column]
																			horizontal_alignment="edge"
																			vertical_alignment="edge"
																			[button]
																				definition="background"
																				id="erase"
																				label=_"Erase"
																				min_text_width="(40)"
																			[/button]
																		[/column]
																	[/row]
																[/grid]
															[/column]
														[/row]
													[/list_definition]
												[/listbox]
											[/column]
										[/row]
										[row]
											[column]
												horizontal_alignment="left"
												[label]
													definition="default"
													id="status"
													mtwusc=true
													state=1
													text_font_size=998
												[/label]
											[/column]
										[/row]
									[/layer]
								[/stack]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
