#textdomain aplt_leagor_khome-lib

[window]
	app="aplt_leagor_khome"
	id="query"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		automatic_placement=false
		definition="scale_screen"
		height="(screen_height)"
		width="(screen_width)"
		x="(0)"
		y="(0)"
		[grid]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(statusbar_height)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[rose__statusbar]
						id="statusbar"
					[/rose__statusbar]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[panel]
						definition="default"
						[grid]
							[row]
								[column]
									[button]
										definition="icon36"
										id="back"
										label="misc/back.png"
									[/button]
								[/column]
								[column]
									grow_factor=1
									[label]
										definition="default"
										id="title"
									[/label]
								[/column]
								[column]
									border="right"
									border_size=8
									[button]
										definition="icon36"
										id="reload"
										label="misc/query_reload.png"
									[/button]
								[/column]
								[column]
									[rose__aplt]
										id="aplt"
									[/rose__aplt]
								[/column]
							[/row]
						[/grid]
					[/panel]
				[/column]
			[/row]
			[row]
				grow_factor=1
				[column]
					border="left, right"
					border_size=4
					horizontal_alignment="edge"
					vertical_alignment="edge"
					[grid]
						id="main_grid"
						[row]
							[column]
								horizontal_alignment="edge"
								[report]
									definition="default"
									horizontal_scrollbar_mode="never"
									id="tag_report"
									toggle=true
									unit_definition="text"
									unit_height="(0)"
									unit_width="(0)"
								[/report]
							[/column]
						[/row]
						[row]
							grow_factor=1
							[column]
								horizontal_alignment="edge"
								vertical_alignment="edge"
								[stack]
									definition="default"
									id="list_stack"
									mode="radio"
									[layer]
										[row]
											[column]
												horizontal_alignment="left"
												[label]
													definition="default"
													id="remark"
													mtwusc=true
													state=1
													text_font_size=998
												[/label]
											[/column]
										[/row]
										[row]
											grow_factor=1
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[listbox]
													definition="default"
													height="(0)"
													horizontal_scrollbar_mode="never"
													id="list"
													width="(0)"
													[linked_group]
														fixed_width=true
														id="id"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="position"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="name"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="desc"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="brand"
													[/linked_group]
													[header]
														[row]
															[column]
																border="right"
																border_size=8
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"ID"
																	linked_group="id"
																[/label]
															[/column]
															[column]
																border="right"
																border_size=8
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"Position"
																	linked_group="position"
																[/label]
															[/column]
															[column]
																border="right"
																border_size=8
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"object^Name"
																	linked_group="name"
																[/label]
															[/column]
															[column]
																border="right"
																border_size=8
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"Description"
																	linked_group="desc"
																[/label]
															[/column]
															[column]
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"Brand"
																	linked_group="brand"
																[/label]
															[/column]
														[/row]
													[/header]
													[list_definition]
														[row]
															[column]
																[toggle_panel]
																	definition="default"
																	[grid]
																		[row]
																			[column]
																				horizontal_alignment="edge"
																				[grid]
																					[row]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="id"
																								linked_group="id"
																							[/label]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="position"
																								linked_group="position"
																							[/label]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="name"
																								linked_group="name"
																							[/label]
																						[/column]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="desc"
																								linked_group="desc"
																							[/label]
																						[/column]
																						[column]
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="brand"
																								linked_group="brand"
																							[/label]
																						[/column]
																					[/row]
																				[/grid]
																			[/column]
																		[/row]
																		[row]
																			[column]
																				border="top"
																				border_size=4
																				horizontal_alignment="edge"
																				[image]
																					definition="default"
																					label="misc/split_line.png"
																				[/image]
																			[/column]
																		[/row]
																	[/grid]
																[/toggle_panel]
															[/column]
														[/row]
													[/list_definition]
												[/listbox]
											[/column]
										[/row]
									[/layer]
									[layer]
										[row]
											[column]
												horizontal_alignment="edge"
												vertical_alignment="edge"
												[listbox]
													definition="default"
													height="(0)"
													horizontal_scrollbar_mode="never"
													id="list"
													width="(0)"
													[linked_group]
														fixed_width=true
														id="goods_position"
													[/linked_group]
													[linked_group]
														fixed_width=true
														id="map_position"
													[/linked_group]
													[header]
														[row]
															[column]
																border="right"
																border_size=8
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"Good position"
																	linked_group="goods_position"
																[/label]
															[/column]
															[column]
																horizontal_alignment="left"
																[label]
																	definition="default"
																	label=_"Map position"
																	linked_group="map_position"
																[/label]
															[/column]
														[/row]
													[/header]
													[list_definition]
														[row]
															[column]
																[toggle_panel]
																	definition="default"
																	[grid]
																		[row]
																			[column]
																				horizontal_alignment="edge"
																				[grid]
																					[row]
																						[column]
																							border="right"
																							border_size=8
																							horizontal_alignment="left"
																							[label]
																								definition="default"
																								id="goods_position"
																								linked_group="goods_position"
																							[/label]
																						[/column]
																						[column]
																							horizontal_alignment="edge"
																							[button]
																								definition="dropdown"
																								height="(40)"
																								id="map_position"
																							[/button]
																						[/column]
																					[/row]
																				[/grid]
																			[/column]
																		[/row]
																		[row]
																			[column]
																				border="top"
																				border_size=8
																				horizontal_alignment="edge"
																				[image]
																					definition="default"
																					label="misc/split_line.png"
																				[/image]
																			[/column]
																		[/row]
																	[/grid]
																[/toggle_panel]
															[/column]
														[/row]
													[/list_definition]
												[/listbox]
											[/column]
										[/row]
									[/layer]
								[/stack]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
